# Imports

In [142]:
import pandas as pd

# Exploration

In [143]:
teams_df = pd.read_csv('../../data/teams.csv')

In [144]:
teams_df.head()

,Nome,URL da Imagem,Sede,Cor Primária,URL
0,Amazon Black Hawks,https://www.salaooval.com.br/wp-content/upload...,NaN,#010101,https://www.salaooval.com.br/equipe/amazon-bla...
1,América Big Riders,https://www.salaooval.com.br/wp-content/upload...,NaN,#d80137,https://www.salaooval.com.br/equipe/america-bi...
2,América Locomotiva,https://www.salaooval.com.br/wp-content/upload...,Belo Horizonte/MG,#066b3b,https://www.salaooval.com.br/times/america-loc...
3,Aracaju Alfa,https://www.salaooval.com.br/wp-content/upload...,NaN,#010204,https://www.salaooval.com.br/equipe/aracaju-alfa/
4,Araçatuba Touros,https://www.salaooval.com.br/wp-content/upload...,Araçatuba/SP,#030304,https://www.salaooval.com.br/times/aracatuba-t...

In [145]:
len(teams_df)

310

In [146]:
teams_df = teams_df.drop_duplicates(subset=['Nome'])

In [147]:
len(teams_df)

173

# Split dos Estados

In [148]:
teams_df[teams_df['Sede'] == 's']

,Nome,URL da Imagem,Sede,Cor Primária,URL
39,Contagem Inconfidentes,https://www.salaooval.com.br/wp-content/upload...,s,#dc212a,https://www.salaooval.com.br/times/contagem-in...
51,Empyreo Leme Lizards,https://www.salaooval.com.br/wp-content/upload...,s,#201916,https://www.salaooval.com.br/times/empyreo-lem...
68,Tomahawk Futebol Americano,https://www.salaooval.com.br/wp-content/upload...,s,#130d0c,https://www.salaooval.com.br/times/tomahawk-fa/
98,Nova Serrana Forgeds,https://www.salaooval.com.br/wp-content/upload...,s,#00b006,https://www.salaooval.com.br/times/nova-serran...
112,Ponte Preta Gorilas,https://www.salaooval.com.br/wp-content/upload...,s,#010101,https://www.salaooval.com.br/times/ponte-preta...
152,Uberlândia Lobos,https://www.salaooval.com.br/wp-content/upload...,s,#01246c,https://www.salaooval.com.br/times/uberlandia-...

In [149]:
teams_df['Sede'] = teams_df['Sede'].apply(lambda x: None if x == 's' else x)

In [150]:
teams_df['Estado'] = teams_df['Sede'].apply(lambda x: x.split('/')[-1] if isinstance(x, str) else x)

In [151]:
teams_df.head()

,Nome,URL da Imagem,Sede,Cor Primária,URL,Estado
0,Amazon Black Hawks,https://www.salaooval.com.br/wp-content/upload...,NaN,#010101,https://www.salaooval.com.br/equipe/amazon-bla...,NaN
1,América Big Riders,https://www.salaooval.com.br/wp-content/upload...,NaN,#d80137,https://www.salaooval.com.br/equipe/america-bi...,NaN
2,América Locomotiva,https://www.salaooval.com.br/wp-content/upload...,Belo Horizonte/MG,#066b3b,https://www.salaooval.com.br/times/america-loc...,MG
3,Aracaju Alfa,https://www.salaooval.com.br/wp-content/upload...,NaN,#010204,https://www.salaooval.com.br/equipe/aracaju-alfa/,NaN
4,Araçatuba Touros,https://www.salaooval.com.br/wp-content/upload...,Araçatuba/SP,#030304,https://www.salaooval.com.br/times/aracatuba-t...,SP

In [152]:
teams_df[teams_df['Estado'] == 's']

Empty DataFrame
Columns: [Nome, URL da Imagem, Sede, Cor Primária, URL, Estado]
Index: []

In [153]:
len(teams_df)

173

In [154]:
teams_df['Estado'].value_counts()

Estado
SP    13
PE     7
PR     7
RS     6
MG     6
RJ     6
SC     6
MT     4
DF     4
PA     3
RN     2
PB     2
CE     2
BA     1
MS     1
GO     1
AL     1
AM     1
MA     1
SE     1
ES     1
Name: count, dtype: int64

In [155]:
teams_df['Estado'].value_counts().sum()

np.int64(76)

# Split Região

In [156]:
def insert_regiao(row):
    SUDESTE = 'sudeste'
    NORDESTE = 'nordeste'
    SUL = 'sul'
    NORTE = 'norte'
    CENTRO_OESTE = 'centro-oeste'

    estados_regiao = {
        'AC': NORTE,
        'AM': NORTE,
        'RR': NORTE,
        'AP': NORTE,
        'PA': NORTE,
        'RO': NORTE,
        'TO': NORTE,

        'MA': NORDESTE,
        'PI': NORDESTE,
        'CE': NORDESTE,
        'RN': NORDESTE,
        'PB': NORDESTE,
        'PE': NORDESTE,
        'AL': NORDESTE,
        'SE': NORDESTE,
        'BA': NORDESTE,

        'DF': CENTRO_OESTE,
        'MT': CENTRO_OESTE,
        'GO': CENTRO_OESTE,
        'MS': CENTRO_OESTE,

        'MG': SUDESTE,
        'SP': SUDESTE,
        'ES': SUDESTE,
        'RJ': SUDESTE,

        'PR': SUL,
        'SC': SUL,
        'RS': SUL
    }
    estado = row['Estado']

    if not isinstance(estado, str):
        row['Regiao'] = None
        return row

    regiao = estados_regiao[estado]

    row['Regiao'] = regiao

    return row

In [157]:
teams_df = teams_df.apply(lambda x: insert_regiao(x), axis=1)

In [158]:
teams_df.head()

,Nome,URL da Imagem,Sede,Cor Primária,URL,Estado,Regiao
0,Amazon Black Hawks,https://www.salaooval.com.br/wp-content/upload...,NaN,#010101,https://www.salaooval.com.br/equipe/amazon-bla...,NaN,None
1,América Big Riders,https://www.salaooval.com.br/wp-content/upload...,NaN,#d80137,https://www.salaooval.com.br/equipe/america-bi...,NaN,None
2,América Locomotiva,https://www.salaooval.com.br/wp-content/upload...,Belo Horizonte/MG,#066b3b,https://www.salaooval.com.br/times/america-loc...,MG,sudeste
3,Aracaju Alfa,https://www.salaooval.com.br/wp-content/upload...,NaN,#010204,https://www.salaooval.com.br/equipe/aracaju-alfa/,NaN,None
4,Araçatuba Touros,https://www.salaooval.com.br/wp-content/upload...,Araçatuba/SP,#030304,https://www.salaooval.com.br/times/aracatuba-t...,SP,sudeste

In [159]:
teams_df['Regiao'].value_counts()

Regiao
sudeste         26
sul             19
nordeste        17
centro-oeste    10
norte            4
Name: count, dtype: int64